/* .body{
    background-color: #E9ECEF;
}

*{
    background-color:#E9ECEF ;
} */
@media only screen and (max-width: 770px) {
    .social{
       display: none;
    }
    #himg{
        display: none;
    }
    #hp{
        width: auto;
    }
  }
@media only screen and (max-width: 575px) {
    .bakkal-logo{
        display: none;
    }
    img{
        width:"400px" ;
        height:"400px"
    }
    #mtcard{
        margin-top: 10px;
    }
    form{
        display: none;
    }
    
  }